@mixin getBlock ($height:240px, $color: black)
 {
  height: $height;
  background-color: $color;
}

body {
  // max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.logo {
height: 144px;
display: flex;
margin-left: 180px;
margin-right: 180px;
}
.logo__title {
  font-size: 40px;
  color: #746868;
  font-family: Birch Std;
  letter-spacing: 10px;
  margin-left: 33px;
  margin-top: 52px;

}
.logo__icon {
  margin-top: 52px;
}
.bgBlack {
  background-color: #353535;
  height: auto; //709px;
  padding-bottom: 3%;
  
}
.bgBlack__title {
  font-size: 60px;
  font-family: Birch Std;
  letter-spacing: 15px;
  color: #a69a99;
  text-align: center;
  padding-top: 322px;
  font-weight: bold;
  margin-left: 180px;
  margin-right: 180px;
}
.bgBlack__subtitle {
  font-size: 36px;
  font-family: Birch Std;
  letter-spacing: 10px;
  color: #a69a99;
  text-align: center;
  font-weight: bold;
}
.bgBlack__icon {
  margin-top: 170px;
  margin-left: 49%;
}
.bgBlack__text {
  font-size: 12px;
  color: white;
  text-align: center;
  font-weight: bold;
}
.blAbout {
  height: auto; //570px;
  padding-bottom: 3%;
  background-color: white;
}
.title {
  font-size: 48px;
  letter-spacing: 10px;
  font-weight: bold;
  color: #3d3d3d;
  text-align: center;
  font-family: Birch Std;
  margin-top: 96px;

}
.line {
  width: 155px;
  border: 1px solid #f4511e;
  margin-left: 43.5%;

}
.text {
  font-size: 14px;
  color: #746868;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 65px;
}
// .blockSections {
//   display: flex;
//   justify-content: center;
// }
.sections {
  width: 324px;
  height: auto;//199px;
  padding-bottom: 3%;
  background-color: #ebebeb;
  margin: 12px;
  text-align: center;
}
.sections__icon {
  width: 55px;
  height: 55px;
  margin: 23px auto;
}
.sections__title {
  font-size: 17.69px;
  color: #7a6e6e;
  font-weight: bold;
}
.sections__text {
  font-size: 14px;
  color: #988c8c;
  margin-top: 20px;
}
.video {
  @include getBlock (auto, black);
  display: flex;
}
.leftside {
  width: 49%;
  text-align: center;
  margin: auto 0;
}
.leftside__title {
  font-size: 30px;
  color:  white;

}
.leftside__text {
  font-size: 14px;
  color: #3e383a;
  margin-top: 32px;
  margin-bottom: 50px;
}
.leftside__button {
  height: 37px;
  width: 127px;
  background-color: #e84c3d;
  border: none;
  color: white;
}
.rightside {
  // width: 49%;
  background-image: url("../assets/img/video Section.png");
  background-size: cover;
  height: 433px;
}
.portfolio {
  @include getBlock (741px, white);
}
ol {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;  /*убрали номер*/
  
}
li a {
  margin-left: 18px;
  text-decoration: none;
  color: #4d4140;
  font-size: 13.68px;
}

li a:hover {
  text-decoration: underline;
  color: #e84c3d;
  font-weight: bold;
}
.portfolio__img {
  @include getBlock (523px, #e84c3d);
  // height: 523px;
  // background-color: #e84c3d;
}
.clients {
  @include getBlock (243px, black);

}
.clients__ikon-height {
  height: auto;
  margin: 3% auto;
}
.clients__ikon {
  display: flex;
  justify-content: space-around;
  margin: auto;
  // width: 50%;
  padding-top: 100px;
  
}
.team {
  @include getBlock (813px, white);
  
}
.blockTeam__left {
  width: 320px;
  height: 366px;
  background-color: #ebebeb;
  padding-top: 70px;
  margin-left: 180px;
}
.circle {
  background-color: #f26c4f;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  margin: auto;
}
.name {
  font-size: 20px;
  font-weight: bold;
  color: #4d4140;
  text-align: center;
  margin-top: 33px;
  letter-spacing: 1px;
}
.skills {
  font-size: 14px;
  color: #4d4140;
  text-align: center;
  letter-spacing: 1px;
}
.snIcon {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: auto;
  margin-top: 24px;
  
}
.blockTeam__right {
  width: 635px;
  height: 437px;
  background-color: #ebebeb;
  margin-right: 180px;
}
.commonBlock {
  display: flex;
  justify-content: space-around;
}
.blockTeam__right-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 65px;
  margin-top: 123px;
}
.blockTeam__right-subtitle {
  font-size: 14px;
  margin-left: 65px;
  margin-top: 25px;
}
.Bl-skills1 {
  display: flex;
  margin-top: 30px;
  font-size: 14px;
  margin-left: 60px;
  justify-content: space-around;
  margin-right: 50px;
  
}
.skills1 {
  width: 120px;
  font-weight: bold;
}
.borderRed1 {
  width: 296px;
  height: 1px;
  background-color: #f26c4f;
 
}
.borderTransparent1 {
  width: 79px;
  height: 1px;
  background-color: white;
  
}

.Bl-skills2 {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  margin-left: 60px;
  justify-content: space-around;
  margin-right: 50px;
}
.skills2 {
  width: 120px;
  font-weight: bold;
}
.borderRed2 {
  width: 300px;
  height: 1px;
  background-color: #f26c4f; 
}
.borderTransparent2 {
  width: 75px;
  height: 1px;
  background-color: white;
}

.Bl-skills3 {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  margin-left: 60px;
  justify-content: space-around;
  margin-right: 50px;
}
.skills3 {
  width: 120px;
  font-weight: bold;
}
.borderRed3 {
  width: 298px;
  height: 1px;
  background-color: #f26c4f; 
}
.borderTransparent3 {
  width: 77px;
  height: 1px;
  background-color: white;
  
}

.Bl-skills4 {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  margin-left: 60px;
  justify-content: space-around;
  margin-right: 50px;
}
.skills4 {
  width: 120px;
  font-weight: bold;
}
.borderRed4 {
  width: 365px;
  height: 1px;
  background-color: #f26c4f; 
}
.borderTransparent4 {
  width: 10px;
  height: 1px;
  background-color: white;
  
}

.flex {
  display: flex;
}
.margin-auto {
  margin: auto;
}
.someFeatures {
  @include getBlock (383px, black);
  margin-top: 100px;
  
}
.titleWhite {
  font-size: 36px;
  color: white;
  padding-top: 55px;
  text-align: center;
  letter-spacing: 5px;
  
}
.lineGray {
  width: 90px;
  border: 1px solid #404040;
  margin-left: 47%;
  margin-top: 20px;
  

}
.blockFeatures {
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
  margin-right: 210px;
  margin-top: 30px;

}
.blockFeaturesTitle {
  font-size: 18px;
  color: white;
  margin-top: 10px;
  text-align: center;

}
.blockFeaturesTitleNumber {
  font-size: 48px;
  color: white;
  margin-top: 10px;
  text-align: center;

}
.blockFeaturesIcon {
  width: 55px;
  height: 55px;
  margin: 23px auto;
}
.blog {
  @include getBlock (800px, white);
}
.blogPostsCommon {
  display: flex;
  margin-left: 170px;
  margin-right: 170px;
}

.blogPostsBackground {
  background-color: #ebebeb; 
  width: 320px; 
  height: 430px;
  margin-left: 20px; 
}
.blogPostsCommon__title {
  margin: 40px 0px 30px 25px;
  font-size: 18px;
  color: #656565;

}
.blogPostsCommon__text {
  color: #b6b6b6;
  margin-left: 25px;
  font-size: 14px;
}
.blPlan {
  @include getBlock (710px, #171f23);
  margin-top: 100px;
}
.option {
  display: flex;
  justify-content: space-between;
  margin-left: 206px;
  margin-right: 226px;
}
.backgroundGray {
  width: 228px; 
  height: 447px;
  background-color: #1f282c;
  margin-top: 55px;
}
.backgroundblack {
  width: 228px; 
  height: 130px;
  background-color: black;
  
  
}
.planType {
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 40px;
  
}
.planPrice {
  color: white;
  font-size: 36px;
  text-align: center;
  
}
.planDescription {
  color: #b4b7b9;
  font-size: 15px;
  margin-top: 25px;
  
  text-align: center;
}
span {
  color: white;
  font-weight: bold;
}
.purchase {
  width: 127px; 
  height: 34px;
  background-color: #f6744b;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin-top: 75px;
  margin-left: 50px;
}
.backgroundGray:hover .number {
  color: #f6744b;
}
.backgroundGray:hover {
  border: 1px solid #f6744b;

}
.blForm {
  @include getBlock (695px, white);
}
.form {
  display: flex;
  justify-content: center;
  

}

.dateForm__text {
  font-size: 14px;
  font-weight: bold;
  
}

.symbol {
  color: #f4511e;
}
.dateForm__form {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  width: 370px;
  margin-top: 30px;
}
.dateForm {
  margin-left: 30px;
}
.commentsForm {
  margin-left: 22.5%;
  margin-top: 45px;
}
.comments {
  border: none;
  width: 777px;
  height: 150px;
}
.buttonForm {
  width: 205px; 
  height: 55px;
  background-color: #f6744b;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin-left: 43%;
}
.map {
  @include getBlock (85px, black);
}
.map__text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}
.footer {
  @include getBlock (239px, #171f23);
  text-align: center;
}
.footer__img {
  padding-top: 50px;
}
.footer__logo {
  color: white;
  font-size: 20px;
  margin-top: 5px;
  font-family: Birch Std;
  letter-spacing: 3px;

}
.footer__text {
  color: white;
  font-size: 14px;
  margin-top: 5px;
}
.footer__icon {
  display: flex;
  justify-content: center;
  padding: 10px;

}
.footerIk {
  margin-left: 10px;
  margin-right: 10px;
}


@media all and (max-width: 767px) {
  .clients {
  height: 700px;
  }
  // .clients__ikon {
  //   width: none;
  // }
}